<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/images/THNS_icon.jpg" type="image/x-icon">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/price-range.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    <style>
        #giaban {
            text-shadow: 1px 1px 2px grey, 0 0 25px blue, 0 0 5px darkblue;
        }
    </style>
    
</head>
<body>

    <header id="header">

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-3">
                        <div class="logo col-sm-pull-6">
                            <a href="@Url.Action("Index", "BookStore")"><img src="~/images/lgo.png" alt="" style="border-radius:10px" /></a>
                        </div>
                    </div>
                    <div class="col-sm-push-6">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a id="giaban" href="@Url.Action("Index", "BookStore")"  style="background-color:transparent; color:gold;"><i class="fa fa-home"></i> <strong>TRANG CHỦ</strong></a></li>
                                <li><a id="giaban" href="@Url.Action("Dangnhap","Nguoidung")"  style="background-color:transparent; color:gold;"><i class="fa fa-user"></i> <strong>ĐĂNG NHẬP</strong> </a></li>
                                <li><a id="giaban" href="@Url.Action("Dangky","Nguoidung")"  style="background-color:transparent; color:gold;"><i class="fa fa-lock"></i> <strong>ĐĂNG KÝ</strong></a></li>
                                <li><a id="giaban" href="@Url.Action("GioHang","GioHang")"  style="background-color:transparent; color:gold;"><i class="fa fa-shopping-cart"> <strong>GIỎ HÀNG</strong></i> </a></li>
                                <li><a id="giaban" href="@Url.Action("Index","LienHe")"  style="background-color:transparent; color:gold;"><i class="fa fa-dribbble"></i> <strong>LIÊN HỆ</strong> </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header><!--/header-->
    <div>

    </div>
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-12">

                                    <img src="~/images/slide-1.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">

                                    <img src="~/images/slide-2.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">

                                    <img src="~/images/slide-3.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="left-sidebar" style=" padding-bottom:0.5em;background-color:transparent" >
                        <h2 style="color:aqua; background-color:transparent">Loại Áo Cưới</h2>
                        @Html.Action("Chude", "BookStore")

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2 style="color:aqua; background-color:transparent">Nhà Thiết Kế</h2>
                            @Html.Action("Nhaxuatban", "BookStore")
                        </div><!--/brands_products-->

                        <div class="shipping text-center" style="border-radius:10px;">
                            <!--shipping-->
                            <h2 style="color:aqua; ">Quảng Cáo</h2>
                           <a href="https://aocuoicodau.com/" target="_blank"><img src="~/images/gif1 (1).gif" alt="" /> </a>
                        </div><!--/shipping-->

                    </div>
                </div>

                <div class="col-md-10">
                    @RenderBody()

                </div>
            </div>
        </div>
    </section>

    <footer id="footer" style="background-color:#c3ebef">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">ASYMMERTRIC</a></li>
                                <li><a href="#">HIGH NECK</a></li>
                                <li><a href="#">HALTER</a></li>
                                <li><a href="#">JEWEL</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shop</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2020 WEDDING SHOP Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="https://www.facebook.com/people/Tr%E1%BA%A7n-Minh-Trung/100006039375732">Trần Lê Minh Trung</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
